<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzy.dao.AddressDao">
    <select id="listAddressByName" parameterType="com.pzy.pojo.query.AddressQuery" resultType="com.pzy.entity.Address">
        select *
        from businessdb.hit_address
        <where>
            <if test="addressName != null and addressName != ''">
                and `addressName` like concat('%',#{addressName},'%')
            </if>
        </where>
    </select>
</mapper>