<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzy.dao.UserDao">
    <select id="listUserByName" parameterType="com.pzy.pojo.query.UserQuery" resultType="com.pzy.entity.User">
        select *
        from businessdb.hit_user
        <where>
            <if test="name != null and name != ''">
                and `name` like concat('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>